* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Barlow, sans-serif;
}

.App {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #212632;
}

.adviseConteiner {
  width: 450px;
  height: 250px;
  background-color: #303a49;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.bottomContainer {
  margin-bottom: 60px;
  text-align: center;
  position: relative;
}

.diceContainer {
  background-color: #51fda6;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 55px;
  cursor: pointer;
}

.diceContainer:hover {
  box-shadow: 0px 0px 20px 10px rgb(81 253 166 / 71%);

}

.titleText {
  color: #51fda6;
  margin-top: 25px;
  font-weight: bold;
}

.adviceText {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  margin: 0 5px;
}